<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>Motivational Quotes API</title>
</head>
<body>
  <div class="card border center">
    <h1>Motivational Quotes API</h1>
    <div>
       
        <form action="api/addQuote" method="POST">
            <p class="center">Use this form to add a new quote to the collection.</p>
            <input type="text" placeholder="Author" name="author">
            <input type="text" placeholder="Quote" name="quote">
       
            <label for="genre">Genre:</label>
            <select name="genre" id="genre">
              <option value="">-</option>
              <option value="Positivity">Positivity</option>
              <option value="Inspiration">Inspiration</option>
              <option value="Discipline">Discipline</option>
              <option value="Motivation">Motivation</option>
            </select>
            <button type="submit">Submit</button>
          </form>  
                
    </div>
    <div class="quote card border center">
     <% let random = String(Math.ceil(Math.random() * quotes.length - 1))%>
     <%= quotes[random].quote %>
     <span class="grey">- <%= quotes[random].author%></span>
    </div>
    <a href="/api"><button>Generate a new random quote</button></a>
  
    <p>Use the link below to generate a random quote to add to your project:
      <p><a href="https://motivational-quotes-api-yb79.onrender.com/api/random">https://motivational-quotes-api-yb79.onrender.com/api/random</a></p></p>
  </div>
<div class="card border">
    <h2> Quotes <h4>(<%= count %>)</h4></h2>
    <ul class="quotes">
  <!-- Loop through quotes -->
  <% quotes.forEach( el => { %>
    <li class="quote"  data-id='<%=el._id%>'> 
       <!-- Output quote from the iterated quote object -->
      <span class="italic"><%= el.quote %></span>
      <!-- Output name from the iterated quote object -->
      <span><%= el.author %></span>
      <!-- Output quote from the iterated quote object -->
      <span class="grey"><%= el.genre %></span>
        <!-- <label for="my-modalbio-edit" class="m-2 text-sky-800 cursor-pointer"><i class="far fa-edit"></i></label> -->
      <!-- <% if(el.favorite) { %>
      <span class="fas fa-heart"></span>
      <% } else { %>
      <span class="far fa-heart"></span>
      <% } %>  -->
      <span class="fa fa-trash"></span>
      
    </li>
  <% }) %>
</ul>
</div>
<script src="/main.js"></script>
</body>
</html>